body {
	position: relative;
}

.navbar, .btn {
	background-color: #6ABC19;
}

.btn-primary {
	color: #ffff;
	border-color: #6ABC19;
    background-color: #6ABC19;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #17A608;
	border-color: #17A608;
}

#home, #research, #publications, #contact {
	background-color: #E1F7A5;
}

h1, h2 {
	color: #17A608;
}

h4, footer {
	color: #6ABC19;
}