body {
	position: relative;
}

.navbar, .btn {
	background-color: #6ABC19;
}

.btn {
	border-color: #6ABC19;
}

.btn-primary {
    color: #ffff;
    background-color: #6ABC19;
    border-color: #6ABC19;
}

#home, #research, #publications, #contact {
	background-color: #E1F7A5;
}

h1, h2 {
	color: #17A608;
}

h4, footer {
	color: #6ABC19;
}

/* make room for the nav bar */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
    padding-top: 60px;
    margin-top: -40px;
}