body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.navbar, .btn {
	background-color: #6ABC19;
}

.btn-primary {
	color: #FFFF;
	border-color: #6ABC19;
    background-color: #6ABC19;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #17A608;
	border-color: #17A608;
}

#home, #research, #publications, #contact {
	background-color: #E1F7A5;
	border-radius: 15px;
}

.active {
	color: #E1F7A5 !important;
}

h1, h2 {
	color: #17A608;
}

h4 {
	color: #6ABC19;
}

footer {
	margin-top: -35px;
	padding-top: 94px;
	color: #E1F7A5;
	width: 100%;
    height: 118px;
    background-image: url('images/grass.png');
	background-repeat: repeat-x;
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	border-color: white;
	border-width: 2px;
	background-color: #6ABC19;
	font-size: 24px;
}

.button-success {
	color: #FFFF;
	background-color: #6ABC19;
}

footer a {
	color: #E1F7A5;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

footer a:hover {
	color: white;
	text-decoration: none;
}
